<app-header></app-header>
<div class="jumbotron text-center">
    <h1>Create A Test</h1>
  </div>
  <div class="space"></div>
  <div class="container ">
  
    <div class="row">
      <div class="col-md-6">
        <app-quote-form (addQuote)="addAQuote($event)"></app-quote-form>
      </div>
  
      <div class="col-md-6 float-right">
        <div *ngFor="let quote of quotes;let i=index">
          <div class="card border-info pb-3 mb-4 ">
             <h5 class="font-weight-bold">Q1. {{quote.quote}}</h5>
            <p> <strong>Name:</strong> {{quote.author}}</p>
            <p><strong>Examiner:</strong>:{{quote.submittedBy}}</p>
            <p><strong>Created on</strong>: {{quote.dateQuoted }}</p>
            <app-quote-details (isComplete)='deletingQuote($event,i)'></app-quote-details>
  
        </div>
      </div>
    </div>
  </div>
