<div id="container" *ngIf="currentUser">
  <nav>
    <div id="logo">
      CodeMo<span class="material-icons">school</span>
    </div>
    <ul>
      <li><a href="#">Practice</a></li>
      <li><a href="#">Create Test</a></li>
      <li class="dropdown"><a href="#">Account&nbsp;<i class="fa fa-caret-down"></i> </a>
       <div class="dd">
         <div id="u_a_c"><div id="up_arrow"></div></div>
        <ul>         
          <li><a routerLink="/user" *ngIf="authService.loggedIn()">Profile</a></li>
          <li><a routerLink="/login" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a></li>
        </ul>
        </div>
    </ul>
  </nav>
</div>

