.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  background:  #637c33;
  padding: 0 20px;
  color: #fff;
  font-family: "Muli-Regular"; 
}

.logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  float: left;
  font-weight: bold;
  letter-spacing:2px;
  text-shadow:1px 1px 2px;
}

#chk{
  display: none;
}

.menu a{
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  transition: 0.4s;
}

.menu li a{
  text-transform: uppercase;
}

.menu li{
  list-style: none;
}

.menu{
  display:flex;
  justify-content: space-between;
  width:40%;
}

.show-menu-btn, .hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;
}

.show-menu-btn i{
  line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

@media screen and (max-width:965px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }

  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    display:flex;
    flex-direction: column;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 1;
  }

  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked ~ .menu{
    right: 0;
  }
} 





