<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" >
<div  style='margin-right:300px;'></div>
  <a class="navbar-brand" href="#" ><b>HackerRank</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" style='margin-right:200px;'>
        <a class="nav-link" routerLink=""><b>PRACTICE</b></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink=""><i class='fa fa-search' style='color:white; font-weight:bold;'><u> Search</u></i></a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink=""><i class='fa fa-envelope' style='color:white; font-weight:bold;'></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""><i class='fa fa-user' style='color:white; font-weight:bold;'></i></a>
      </li>

    </ul>
  </div>
</nav>
