.trialtest {
            
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    background: whitesmoke;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

body{
    height: 100vh;
}
