<!-- Navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-success bg-success">
    <a class="navbar-brand ml-5" routerLink="quizzes"  >CodeMo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="quizzes" routerLinkActive='active' > Test<span
              class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="" routerLinkActive='active' ><i class='fa fa-search'>Search</i></a>
          <a class="nav-item nav-link" routerLink="" routerLinkActive='active' ><i class='fa fa-user'>Profile</i></a>
        </div>
      </div>
    </div>
  </nav>



