<nav class="navbar navbar-expand-md bg-success navbar-success fixed-top" >
<div style='margin-right:300px;'></div>
  <a class="navbar-brand" href="#" style='color:black;'><b>CodeMo</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" style='margin-right:200px;'>
        <a class="nav-link" routerLink="" style='color:black;'><b>PRACTICE</b></a>
      </li>
      <li class="nav-item" style='margin-right:200px;'>
        <a class="nav-link" routerLink="" style='color:black;'><b>Test</b></a>
      </li>
      <li class="nav-item" style='margin-right:200px;' >
        <a class="nav-link" routerLink=""><i class='fa fa-search' style='color:black; font-weight:bold;'> Search</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""><i class='fa fa-user' style='color:black; font-weight:bold;'> Profile</i></a>
      </li>

    </ul>
  </div>
</nav>
