<app-header></app-header>
<div class="container body mt-6">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <legend>Update Profile</legend>
            <form [formGroup]='updateForm' (ngSubmit)='updateProfile()' >
                <!-- <div >
                    <label >User:</label>
                    <input type="text" placeholder="Username..." formControlName='user' class="form-control">
                </div>
                <div >
                    <label >Email:</label>
                    <input type="text" placeholder="Email..." formControlName='user' class="form-control">
                </div> -->
                <div >
                    <label >Bio:</label>
                    <input type="text" placeholder="Bio..." formControlName='bio' class="form-control input">
                </div>
                <div>
                    <label >Location:</label>
                    <input type="text" placeholder="Location..." formControlName='location' class="form-control input">
                </div>
                <div>
                    <label >Education:</label>
                    <input type="text" placeholder="Education..." formControlName='education' class="form-control input">
                </div>
                <div *ngIf="mentor">
                    <div>
                        <label >Company:</label>
                        <input type="text" placeholder="Company..." formControlName='company' class="form-control input">
                    </div>
                </div>

                <div class="image mt-2">
                    <label>Change Profile Picture:</label><br>
                    <input class="file-input" type="file" (change)='imageSelected($event)' name="picture">
                </div>
                  


                <div class="updateButtons mt-2">
                    <input [disabled]="!updateForm.valid" type="submit" class="btn btn-outline-success btn-sm mr-2 update" value="Update">
                    <a class="btn btn-outline-info btn-sm backProfile" (click)='toProfile()'>Back To Profile</a>
                </div>
                
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
