<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<div id="about" class="offset">
    <div class="jumbotron mt-4" id="about">
    <div class="container-fluid">
        <div class="legend-underline"></div>
        <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8 text-center">
                <img class="img-circle rounded-circle" id="profile" style="width: 150px; height: 150px; background-color: black;">
            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8 text-center">
                <h2 class="card-title">JOHN DOE</h2> <hr>
                <p class="card-text"><span class="label mr-2" id="about-info" style="font-weight: bolder;"><i class="fas fa-envelope-square"></i></span>johndoe@gmail.com <span></span> <span class="label ml-2 mr-2" id="about-info"><i class="fas fa-map-marker-alt"></i></span>Nairobi,Kenya</p>
                <div>
                <p class="card-text"><span id="about-info" style="font-weight: bolder;">About Me:</span> <span>Am a software developer</span> </p>
                <p class="card-text"><span id="about-info" style="font-weight: bolder;">Education:</span> <span>Sofware development student in Moringa School</span> </p>
                </div>
                                
            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
    </div>
    </div>
</div>


