<div class="wrapper">
    <div class="inner">
        <img src="../../../../assets/img/img1.svg" alt="" class="image">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <h3>Create Your Account</h3>
            <div class="form-holder form-group">
                <span class="lnr"><i class="far fa-user"></i></span>
                <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-holder form-group">
                <span class="lnr"><i class="far fa-envelope"></i></span>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-holder form-group">
                <span class="lnr"> <i class="fas fa-user-lock"></i></span>
                <input type="password" placeholder="Password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                </div>
            </div>
            <button>
                <span>Register</span>
            </button>
            <div class="sign-option text-center mt-4">
                Already Have an Account? <a class="ml-2" routerLink="/login"> Log In</a>
            </div>
        </form>
    </div>
</div>