<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Yanone Kaffeesatz">


<div class="landing" *ngIf="!currentUser">
<div class="container mt-5 mb-3">
    <div>
        <div class="font fixed"> <span style="font-size: 3rem;">CodeMo</span><span class="material-icons">school</span><a href="" class="float-right btn btn-outline-success btn-sm" style="font-size: 1.5rem;" routerLink="/login">Login</a></div>
    </div>
    <div class="text-center"><span class="material-icons" style="font-size: 5rem;">school</span></div>
    <div class="row mt-3">
        <div class="col-md-2"></div>
        <h3 class="col-md-8 text-center font">CodeMo is an exciting platform brings students and teachers together into one. 
            Teachers  can post a test and students can take a quiz of their choosing.
        </h3>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class=" d-block text-center p-2 size">
                    <h4 class='headers font'>Register as Mentor</h4>
                    <div class="body">As a mentor you can set tests for other students to tackle and view the performance of a student who took the test</div>
                    <a routerLink="register/" class="btn btn-sm btn-outline-success font">Register</a>
            </div>
        </div>
        <br>
        <div class="col-md-6 ">
            <div class=" d-block text-center p-2 size">
                <h4 class="headers font">Register as Student</h4>
                <div class="body ">Students have the ability to take tests by different mentors and also be able to view their scores</div>
                <a routerLink="user/register/" class="btn btn-sm btn-outline-success font">Register</a>
            </div>
        </div>
    </div> 
      <img src="/media/learn.png" alt="">
</div>
</div>