.landing{
    height: auto;
    width: 100%;
}
.font{
    font-family: 'Yanone Kaffeesatz', serif;
}

.size{
    font-size: 1.3rem;
}

.headers{
    text-decoration: underline;
}

footer {
    bottom: 0;
    padding: 1rem;
    text-align: center;
  }

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> 21b408b... fix differences in file structure
=======


=======
>>>>>>> 7ed7eb7... Feature/user profile (#5)
>>>>>>> f920880... erge conflict fix
=======
>>>>>>> 0bd5c48... all merge conflicts fixed
