<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
<small class="text-muted">Practice</small>
  <h1>Dashboard</h1>
  <p class="lead">
  <a class="text-primary" href="" role="link">Challenges</a></p>
</div>

<div class="container ">
    <h3><b>Get Your skills Certified</b></h3><br>
        <div class="row">
            {% comment %} <div *ngFor="let quote of quotes;let i=index"> {% endcomment %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                      <h3></h3> <br>
                      <a class="btn btn-lg btn-primary" href="" role="button">Solve problem</a>
                    </div>
                </div>
         </div>
</div>


<footer>
  <p  class="text-xs-center">© Copyright 2020. All rights reserved.</p>
</footer>

