/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color:rgb(235, 222, 222);
  border: 0;
  font: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
