@import "~bootstrap/dist/css/bootstrap.css";

body{
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
  /* background-image: linear-gradient(white,rgb(195, 207, 207)); */
  background-color: rgb(244, 247, 247);
  width: 100%;

}
=======
  background-color: #F3F7F7;
>>>>>>> 18dc6b6... review project structure

@media screen and (max-width: 600px) {
  .update{
      background-color:  #637c33;
  }
  .backProfile{
    background-color: white;
  }
}

