@media screen and (max-width: 600px) {
    .update{
        background-color:  #637c33;
    }
    .img{
        margin-top: 20px;
    }
 }

 legend{
    text-align: center;
    text-decoration: underline;
}

.tests{
    background-color: transparent;
}